.switch {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: currentColor;
  border-radius: 50%;
  cursor: pointer;
  --size: 28px;
  height: var(--size);
  width: var(--size);
  transition: all 0.3s ease-in-out;

  background-color: #ffd429; /* Tailwind yellow-400 */
  box-shadow:
    0 0 6px rgba(250, 204, 21, 0.6),
    0 0 12px rgba(250, 204, 21, 0.4);

  border: 2px solid #fef9c3; /* 연한 노란색 */
}

.switch:hover {
  box-shadow:
    0 0 10px rgba(250, 204, 21, 0.8),
    0 0 16px rgba(250, 204, 21, 0.6);
  transform: scale(1.05);
}

:global(.dark) .switch {
  box-shadow: calc(var(--size) / 4) calc(var(--size) / -4) calc(var(--size) / 8)
    inset #fff;
  border: none;
  background: transparent;
  animation: n linear 0.5s;
}

@keyframes n {
  40% {
    transform: rotate(-15deg);
  }
  80% {
    transform: rotate(10deg);
  }
  0%,
  100% {
    transform: rotate(0deg);
  }
}
