@import 'tailwindcss';
@import './markdown.css';
@plugin "@tailwindcss/typography";

@theme {
  --color-bg: white;
  --color-fg: black;

  --color-primary-50: #effaff;
  --color-primary-100: #dff4ff;
  --color-primary-200: #b8ecff;
  --color-primary-300: #78deff;
  --color-primary-400: #4bd4ff;
  --color-primary-500: #06b8f1;
  --color-primary-600: #0094ce;
  --color-primary-700: #0076a7;
  --color-primary-800: #02638a;
  --color-primary-900: #085272;
  --color-primary-950: #06344b;

  --color-black: #17171b;
  --font-base: 14px;
}
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family:
    'MinSansVF',
    'Pretendard Variable',
    'Pretendard',
    -apple-system,
    'BlinkMacSystemFont',
    'system-ui',
    'Roboto',
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}

html {
  @apply scroll-smooth text-base text-gray-800;
}
